.intro-section {
  display: flex;
  height: 100vh;
  overflow: hidden;
}




/* Left Side */
.intro-left {
  flex: 1;
  background-color: #ffffff;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

/* Right Side with clean center diagonal */
.intro-right {
  flex: 1;
  background-color: #000;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.intro-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center 30%;
  border-radius: 50%;
  border: 8px solid #fff;
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.intro-img {
  transition: transform 0.4s ease;
}
.intro-img:hover {
  transform: scale(1.05);
}



